{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square"
  (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'landscape'
    assign ratio = 1.2
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

{%- style -%}
  #link-{{ id }} {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }

  #{{ id }} .collection-card-overlay {
    {%- if orientation == 0 -%}
      justify-content: flex-start;
      text-align: left;
    {%- else -%}
      justify-content: flex-end;
      text-align: right;
    {%- endif -%}
  }

  #{{ id }} .card-collection-bg {
    width: 100%;
    height: 100%;
    display: flex !important;
    background-color: black;
    background-image: url({{ card_collection.featured_image | image_url | prepend: 'http:' }});
    background-size: cover;
    background-position: center;
    transition: ease-out .25s;
  }

  {%- if sidebar -%}

    #{{id}} {
      height: 40vh;
      {%- if orientation == 0 -%} flex-direction: row-reverse; {%- else -%} flex-direction: row; {%- endif -%}
    }

    #{{ id }} .collection-card-overlay {
    {%- if orientation == 0 -%}
      color: white;
      background-color: {{color_scheme_1}};
    {%- else -%}
      color: black;
      background-color: {{ color_scheme_2 }};
    {%- endif -%}
  }

    #{{ id }}:after {
      content: '';
      position: absolute;
      z-index: -1;
      background: #e2eff9;
      height: 100%;
      width: 100%;
      {%- if orientation == 0 -%} left: -2%; {%- else -%} right: -2%; {%- endif -%}
      top: -5%;
      pointer-events: none;
    }

    #{{id}} .sidebar {
      text-align: start;
      {%- if orientation == 0 -%} justify-content: flex-start; margin-right: 0; background-color: {{color_scheme_1}} ; color: white;  {%- else -%} justify-content: flex-end; margin-left: 0; background-color: {{color_scheme_2}}; color: black; {%- endif -%}
    }

    #{{id}} .card-img-container {
      {%- if orientation == 0 -%}
        margin-right: auto;
      {%- else -%}
        margin-left: auto;
      {%- endif -%}
    }

  {%- else -%}

    #{{ id }} {
      height: 60vh;
      overflow: hidden;
    }

    #{{ id }}:hover .card-collection-bg, #{{ id }}:focus .card-collection-bg {
      -ms-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -o-transform: scale(1.01);
      transform: scale(1.01);
    }

    #{{ id }} .collection-card-overlay {
      color: white;
    }

    #{{id }} .collection-card-content {
      margin-top: 5rem;
      padding: 2rem;
    }

  {%- endif -%}
{%- endstyle -%}

<a id="link-{{ id }}" href="{{ card_collection.url }}">
  {%- if sidebar -%}
    <div class="plds-card-wrapper" id="{{ id }}">
      <div id="{{id}}-sidebar" class="sidebar">
        <div class="collection-card-overlay">
          <div class="collection-card-content banner-content">
            <h2 class="collection-card-title">{{- card_collection.title | escape -}}</h2>
            <div class="collection-card-information">
              <p class="slideUp">{{- card_collection.description | strip_html | truncatewords: 12 -}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-img-container">
        <div class=" card-collection-bg"></div>
      </div>
    </div>
  {%- else -%}
    <div class="plds-card-wrapper" id="{{ id }}">
      <div class="card-img-container card-collection-bg"></div>
      <div class="collection-card-overlay">
        <div class="collection-card-content banner-content">
          <h2 class="collection-card-title">{{- card_collection.title | escape -}}</h2>
          <div class="collection-card-information">
            <p class="slideUp">{{- card_collection.description | strip_html | truncatewords: 12 -}}</p>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</a>
