{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square"
  (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}

{%- style -%}
  #{{ id }} > .card-collection-bg {
    background-image: url({{ card_collection.featured_image | image_url | prepend:'http:' }});
    background-size: cover;
  }
{%- endstyle -%}

{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'landscape'
    assign ratio = 1.2
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<a href="{{ card_collection.url }}">
  <h1>I'M A HAIRY LITTLE MAN {{ card_collection.sidebars }}</h1>
  {%- if card_collection.sidebars != blank -%}
    <div class="plds-card-wrapper" id="{{ id }}">
      <div class="sidebar"></div>
      <div class="collection-card-content banner-content">
        <h2 class="collection-card-title">{{- card_collection.title | escape -}}</h2>
        <div class="collection-card-information">
          <p class="slideUp">{{- card_collection.description | strip_html | truncatewords: 12 -}}</p>
        </div>
      </div>
      <div class="card-img-container card-collection-bg"></div>
    </div>
  {%- else -%}
    <div class="plds-card-wrapper" id="{{ id }}">
      <div class="card-img-container card-collection-bg">
        <div class="collection-card-content banner-content">
          <h2 class="collection-card-title">{{- card_collection.title | escape -}}</h2>
          <div class="collection-card-information">
            <p class="slideUp">{{- card_collection.description | strip_html | truncatewords: 12 -}}</p>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</a>
