{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square"
  (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-collection-plds' %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'landscape'
    assign ratio = 1.2
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_style = settings.collection_card_style
  endif
-%}

{%- style -%}
  #link-{{ id }} {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }

  #{{ id }} .collection-card-content {
    /* margin-top: 4rem; */
    padding: 1rem;
  }
  #{{ id }}:after {
    content: '';
    top: -5%;
    position: absolute;
    z-index: -1;
    background: {{ accent_color }};
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  {%- if orientation == 0 -%}
    #{{ id }} .collection-card-overlay {
      justify-content: flex-start;
      text-align: left;
    }
    #{{ id }}:after {
      right: -2%;
    }

  {%- else -%}
    #{{ id }} .collection-card-overlay {
      justify-content: flex-end;
      text-align: right;
    }
    #{{ id }}:after {
      left: -2%;

    }

  {%- endif -%}

  /* #{{ id }} {
    flex-direction: row;
  } */


  @media screen and (max-width: 749px){
    #{{ id }} {
      flex-direction: column;
    }
  }
{%- endstyle -%}

<a id="link-{{ id }}" href="{{ card_collection.url }}">
  <div class="plds-card-wrapper" id="{{ id }}">
    {%- liquid
      assign image_height = card_collection.featured_image.width | divided_by: card_collection.featured_image.aspect_ratio
      if card_collection.featured_image != blank
        assign image_class = 'standard_image'
      endif
      assign sizes = '100vw'
    -%}
    {{
      card_collection.featured_image
      | image_url: width: 3840
      | image_tag:
        loading: 'lazy',
        width: card_collection.featured_image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    }}
    <div class="collection-card-overlay">
      <div class="collection-card-content banner-content">
        <h2 class="collection-card-title">{{- card_collection.title | escape -}}</h2>
        <div class="collection-card-information">
          <p class="slideUp">{{- card_collection.description | strip_html | truncatewords: 14 -}}</p>
          {% comment %} <p class="slideUp">{{- card_collection.description -}}</p> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</a>
