{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }

  {%- if section.settings.show_collection_image and collection.image -%}
    .bg-collection-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 60vh;
      width: 100%;
      background-image: url({{ collection.image | image_url | prepend:'http:' }});
      background-size: cover;
      background-position: center;
    }
  {%- endif -%}

  .collection-hero__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20rem;
    min-height: 10rem;
  }

  .collection-hero__title {
    word-wrap: nowrap;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
{%- endstyle -%}

<div class="shadow-bar-top"></div>
<div class="collection-hero__image-container">
  <div class="bg-collection-hero">
    <div class="collection-hero__text-wrapper gradient color-{{ section.settings.color_scheme }} gradient">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

    </div>
  </div>
</div>
{%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description page-width rte">{{ collection.description }}</div>
      {%- endif -%}
<div class="shadow-bar-bottom"></div>


{% comment %}
  <div class="buffer-top">
    <div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
      <div class="collection-hero__inner page-width">



      </div>
    </div>
  </div>
{% endcomment %}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.main-collection-banner.settings.margin_top.label",
      "default": 0
    }
  ]
}
{% endschema %}
