<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
    main {
      background-color: rgb(var(--color-base-background-1));
      background-image: none;
    }
    .image-wrapper {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }

    .page-content {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }


    {%- if section.settings.image -%}

    .heading-banner {
      position: absolute;
      display: flex;
      padding: 1.5rem;
      z-index: 2;
    }

    .main-page-title {
      display: flex;
      text-align: inherit;
      height: fit-content;
      color: black;
      background-color: white;
    }

    /* .page-bg-overlay {
      position: absolute;
      display: flex !important;
      background: rgba(0, 0, 0, 0.1);
      inset: 0;
      overflow: hidden;
      z-index: 1;
    } */

    @media screen and (max-width: 749px) {
      .page-img-2 {
        height: 60vh;
      }
     .image-wrapper {
       flex-direction: column;
     }
     .mobile-second {
       order: 2;
     }
     .mobile-first {
       order: 1;
     }
     .heading-banner {
       width: 100%;
       position: relative;
       padding-bottom:0;
     }
     .heading-banner > h1 {
      margin-bottom: 0;
      padding-bottom:0;
      color: black!important;
     }

    }

    {%- endif -%}

    @media screen and (min-width: 750px) {
      .page-content {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }


    @media screen and (min-width: 990px) {
      .page-content {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
  }
{%- endstyle -%}

{% comment %} <div class="page-width page-width--narrow section-{{ section.id }}-padding"> {% endcomment %}
<div class="section-{{ section.id }}-padding">
  <div class="image-wrapper">
    {%- liquid
      assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      if section.settings.image != blank
        assign image_class = 'standard_image'
      endif
      assign sizes = '100vw'
    -%}
    {{
      section.settings.image
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    }}
    <div class="heading-banner">
      <h1 class="main-page-title page-title h0">
        {{ page.title | escape }}
      </h1>
    </div>
    {% comment %} <div class="page-bg-overlay"></div> {% endcomment %}
  </div>
  <div class="shadow-bar-bottom"></div>
  <div class="rte">
    <div class="page-width page-width--narrow page-content">
      {{ page.content }}
    </div>
  </div>
  <div class="shadow-bar-bottom"></div>
  {%- if section.settings.image_2 -%}
    {% comment %} <div class="shadow-bar-top"></div> {% endcomment %}
    <div class="image-wrapper">
      {%- liquid
        assign image_height = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'standard_image'
        endif
        assign sizes = '100vw'
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
      {% comment %} <div class="page-bg-overlay"></div> {% endcomment %}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-page.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.main-page.settings.image_2.label"
    },
    {
      "type": "select",
      "id": "desktop_title_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.main-page.settings.desktop_title_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.main-page.settings.desktop_title_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.main-page.settings.desktop_title_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.main-page.settings.desktop_title_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.main-page.settings.desktop_title_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.main-page.settings.desktop_title_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.main-page.settings.desktop_title_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.main-page.settings.desktop_title_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.main-page.settings.desktop_title_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.main-page.settings.desktop_title_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
